.app-main {
  background-color: #141414;
  min-height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
}
body,
      html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: var(--bg-color);
        font-family: "Inter", sans-serif;
        overflow-x: hidden;
        color: var(--text-main);
      }


      @media (min-aspect-ratio: 16/9) {
        .video-foreground {
          height: 300%;
          top: -100%;
        }
      }
      @media (max-aspect-ratio: 16/9) {
        .video-foreground {
          width: 300%;
          left: -100%;
        }
      }

   .page {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.page.enter {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
/* Ensure the main window handles the scroll */
html, body {
  height: auto;
  overflow-x: hidden;
  overflow-y: visible; /* Avoid hidden/scroll on body if you want window.scrollTo to work */
}

.app-container, .content-area {
  height: auto;
  overflow: visible;
}
